<div class="input-file {{#if file}}input-file_selected{{/if}}">
  <label for="{{name}}">
    {{#if file}} {{file}}
    {{else}} {{title}}
    {{/if}}
  </label>
  <input
    type="file"
    id="{{name}}"
    name="{{name}}"
    accept=".jpg, .jpeg, .png"
  />
</div>