<label class="input">
    <span class="input-label">{{label}}</span>
    <input
        class="input-value {{#if error}}input-value_error{{/if}}"
        type="{{type}}"
        name="{{name}}"
        value="{{value}}"
        placeholder="{{label}}"
    />
    <span class="input-warning">{{errorMessage}}</span>
</label>