<label class="input">
    <span class="input__label">{{title}}</span>
    <input
        class="input__value {{#if error}}input__value_error{{/if}}"
        type="{{type}}"
        name="{{name}}"
        value="{{value}}"
        placeholder="{{title}}"
    />
    <span class="input__warning">{{errorMessage}}</span>
</label>
